.App {
  text-align: center;
}

.price{
  color: rgb(5, 73, 245);
}
.text{
  color: rgb(9, 124, 40);
}
.text:hover{
  color: red;
}
.btnc{
  background-color: orange;
  font-weight: bold;
  font-size: large;
  border-radius: 50em;
  height: 2em;
}
.btnc:hover{
  opacity: 40%;
}