.App {
  text-align: center;
}

.price{
  color: rgb(5, 73, 245);
}
.text{
  color: rgb(9, 124, 40);
}
.text:hover{
  color: red;
}
.btnc{
  background-color: orange;
  font-weight: bold;
  font-size: large;
  border-radius: 50em;
  height: 2em;
}
.btnc:hover{
  opacity: 40%;
}
.PrdtItem{
  align-items: center;
  height: 750px;
  width: 250px;
  border: 5px solid rgb(109, 109, 125);
  float: left;
  margin-bottom: 10px;
  margin-left: 5px;
  padding-bottom: 10px;
  padding-right: 10px;
  overflow: hidden;
  
}
